[package]
name = "xtask"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.51", features = ["derive"] }
which = "8.0.0"
tar = "0.4.44"
flate2 = "1.1.5"
prost-build = "0.14.1"
procfs = "0.18.0"
