---
name: CI
on:
  pull_request:
  push:
    branches:
      - "main"
jobs:
  ubuntu-24_04:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: cargo-bins/cargo-binstall@main
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          components: clippy rustfmt
      - uses: lima-vm/lima-actions/setup@v1
        id: lima-actions-setup
      - run: cargo binstall -y bpf-linker

      - name: Linting
        run: |
          cargo clippy --workspace --all-features -- -D warnings
          cargo fmt --all -- --check
          cd bombini-detectors-ebpf
          cargo clippy --workspace --all-features -- -D warnings
          cargo fmt --all -- --check

      - name: Build tests
        run: |
          cargo xtask test --release --no-run
          limactl start --name=default --cpus=1 --memory=2 template://ubuntu-lts
      - uses: lima-vm/lima-actions/ssh@v1
      - name: Run tests in lima vm
        run: |
          ssh lima-default 'sudo sed -i '\''s/^\(GRUB_CMDLINE_LINUX=\)"[^"]*"/\1"lsm=bpf"/'\'' /etc/default/grub'
          ssh lima-default sudo update-grub
          limactl stop
          limactl start
          rsync -a -e ssh . lima-default:/tmp/repo
          ssh lima-default "cd /tmp/repo && sudo $(find ./target/release/deps/tests-* -type f -executable) --test-threads 1"
      - name: Get Bombini logs from lima vm
        if: failure()
        run: |
          rsync -a -e ssh 'lima-default:/tmp/bombini-test-*'' /tmp
      - name: Upload Bombini logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: bombini-logs
          path: /tmp/bombini-test-*
          retention-days: 5
